<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Croupier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Material.Icons" publicKeyToken="34ed5903a64b4509" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.13.0" newVersion="2.0.13.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
	<Croupier.Properties.Settings>
  <setting name="MissionPool" serializeAs="String">
   <value>1</value>
  </setting>
  <setting name="Ruleset" serializeAs="String">
   <value />
  </setting>
  <setting name="Ruleset_Custom_GenericEliminations" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="Ruleset_Custom_LiveComplications" serializeAs="String">
   <value>True</value>
  </setting>
  <setting name="Ruleset_Custom_LiveComplicationsExcludeStandard"
   serializeAs="String">
   <value>True</value>
  </setting>
  <setting name="Ruleset_Custom_LiveComplicationChance" serializeAs="String">
   <value>25</value>
  </setting>
  <setting name="Ruleset_Custom_MeleeKillTypes" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="Ruleset_Custom_ThrownKillTypes" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="Ruleset_Custom_BannedMedium" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="Ruleset_Custom_BannedHard" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="Ruleset_Custom_BannedExtreme" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="Ruleset_Custom_BannedImpossible" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="Ruleset_Custom_BannedBuggy" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="Width1Column" serializeAs="String">
   <value>0</value>
  </setting>
  <setting name="Width2Column" serializeAs="String">
   <value>0</value>
  </setting>
  <setting name="AlwaysOnTop" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="RightToLeft" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="VerticalDisplay" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="StaticSize" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="StaticSizeLHS" serializeAs="String">
   <value>False</value>
  </setting>
 </Croupier.Properties.Settings>
 </userSettings>
</configuration>